@media screen and (max-width: 1599px) {

    .intro__button {
        width: 20%;
        margin-left: 22%;
    }

    .quiz__category-name {
        font-size: 18px;
    }
}

@media screen and (max-width: 999px) {

    .container {
        width: 90%;
    }

    .header__wrapper {
        height: 60px;
    }

    .intro__content {
        flex-direction: column;
        margin-left: 0;
    }

    .intro__content-title {
        font-size: 50px;
        margin-bottom: 25px;
    }

    .intro__content-text {
        font-size: 16px;
    }

    .intro__button {
        width: 30%;
        margin-top: 60px;
        margin-left: 0;
    }

    .quiz__category {
        margin-top: 80px;
        flex-wrap: wrap;
    }

    .quiz__category-name {
        font-size: 16px;
        width: 30%;
    }

    .bird-quiz {
        padding: 10px;
        margin-top: 20px;
    }

    .bird-quiz__img-block {
        width: 175px;
        height: 150px;
        margin-left: 0;
        margin-right: 5%;
    }

    .bird-quiz__content {
        margin-right: 0;
    }

    .quiz__title {
        font-size: 28px;
    }

    .answer-block {
        margin-top: 20px;
    }

    .answer-block__item {
        margin-right: -30px;
    }

    .selected-bird {
        padding: 10px;
    }

    .selected-bird__img-block {
        width: 150px;
        height: 150px;
        margin-left: 0;
        margin-right: 5%;
    }

    .selected-bird__subtitle {
        font-size: 18px;
    }

    .quiz-footer__button {
        padding: 10px;
        letter-spacing: normal;
    }

    .left {
        left: -15px;
    }

    .right {
        right: -15px;
    }

    .selected-bird__wrapper {
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 639px) {

    .header__logo {
        margin-right: 10px;
    }

    .header__link {
        display: none;
    }

    .header__img-link {
        display: block;
        width: 50px;
        height: 50px;
    }

    .header__img {
        width: 50px;
        height: 50px;
        object-fit: contain;
    }

    .nav__item {
        font-size: 18px;
        margin-right: 15px;
    }

    .quiz-footer__score {
        font-size: 18px;
    }

    .nav__item:first-child {
        margin-right: 15px;
    }

    .lang__item:first-child {
        margin-right: 7px;
    }

    .intro__button {
        margin-top: 10px;
    }

    .intro__content-title {
        text-align: center;
        font-size: 40px;
    }

    .intro__content-text {
        margin-left: 13%;
        margin-bottom: 0;
    }

    .intro__content-desc::before, .intro__content-desc::after {
        height: 90%;
        width: 85%;
        left: 7%;
        transform: rotate(-60deg);
    }

    .intro__content-desc::after {
        left: 7%;
        top: 7%;
        transform: rotate(-60deg);
    }

    .quiz__category-name {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bird-quiz {
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
        padding-bottom: 40px;
    }

    .bird-quiz__content {
        align-self: auto;
        width: 100%;
        text-align: center;
    }

    .quiz__title {
        padding-bottom: 5px;
        font-size: 24px;
    }

    .bird-quiz__img-block {
        margin-right: 0;
    }

    .answer-block {
        flex-direction: column;
        gap: 10px;
    }

    .answer-block__answers {
        width: 100%;
    }

    .answer-block__item {
        margin-right: 0px;
    }

    .selected-bird {
        width: 100%;
    }

    .selected-bird__wrapper {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .selected-bird__content {
        align-self: auto;
        text-align: center;
        width: 100%;
        margin-right: 0;
    }

    .selected-bird__subtitle {
        font-size: 18px;
    }

    .quiz-footer {
        justify-content: center;
    }

    .left {
        left: 15px;
        top: 110%;
    }

    .right {
        right: 15px;
        top: 110%;
    }
}